<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="MyTestSuite">

    <!-- First, run createonfly tests in this order -->
    <test name="Whatsapp1.copy">
        <classes>
			<class name="Whatsapp1.copy.Useexistingclienttags"/>  
        </classes>
    </test>
   <test name="createonfly1.copy">
        <classes>
			<class name="createonfly1.copy.Useexistingclienttags"/>  
        </classes>
    </test>

    <!-- Next, run whatsapp tests in this order -->
    
</suite>
